<style type="text/css">
  @page {
      margin: 2em;
  }

  @page {
      size: US-Letter landscape;
  }

  body {
      margin: 0px;
      padding: 0px;
      font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
      font-size: 12px;
  }

  TABLE {
      border-collapse: collapse;
      width: 100%;
  }

  th {
      background-color: orange;
      text-align: left;
      padding: 10px 0px 10px 5px;
  }

  tr:nth-child(odd) {
      background-color: #eee;
  }
</style>
<h1>
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGgAAAAYCAYAAAAWPrhgAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ
bWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdp
bj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6
eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0
NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJo
dHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlw
dGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAv
IiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RS
ZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpD
cmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFu
Y2VJRD0ieG1wLmlpZDo4OTg0M0YwNzMxQzUxMUUyQkQ0RkQ5QkJGOTdBQTJGOSIgeG1wTU06RG9j
dW1lbnRJRD0ieG1wLmRpZDo4OTg0M0YwODMxQzUxMUUyQkQ0RkQ5QkJGOTdBQTJGOSI+IDx4bXBN
TTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjg5ODQzRjA1MzFDNTExRTJC
RDRGRDlCQkY5N0FBMkY5IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjg5ODQzRjA2MzFDNTEx
RTJCRDRGRDlCQkY5N0FBMkY5Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4
bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+kb5ddQAADfZJREFUeNrsWnl0VOUVv+/NmzdLJgsB
krDKEhC0CAK1oogUQUGsIn/gVk8rIioIolR7juBSKCJoVcRKRbC1KihYEbQWDkXUiq0LaAUBZZUt
CYEQkpnM/r7+vvu9mcmQSTKBeto/fJw5CTNv7rv773fvF21yF6J+3duM3S9al4pYJEg/XP/bS8Pl
cLqMEwd3fra37m1tz7TBT3Wb88dp5O2OT+N4GWf4BBljy/5dynKdobwIXtGE9nh5z1CeZev4fchz
4OU+Q3kxvHSimh3knz9ljXZy3Yu1eZff4kt8LPzH8UyBexyp7+B3EawhcaKcf9dMN4lQgDRfK9Ly
ixBXCI2GSWtVpISn+TdAos6PWJkt01PKdJqkefMbfMR6OFsYeAFHWhb0bdvwo+qKxvWTMdRg/4ky
EjXHSStsR1peG/gRiWPFlf1pekdI1J44PXsd8K2vMPlW1ZYPyAhFItV5RD4KByi48DaKfvYOaTmt
ZKmpFxxuVX5Hui+fjAvHkNF/FOmtSih+YBuF3/odiWPlULoEAUMQLIM8tz9OzkuuV7FZ9QSFlj8G
J8OZDmcLHRonK+An18gJ5L5lPnsq/vVHVLdgIgJ+jDRXSzNf4HsnydHzAvJMexk2FFN8x0eweSJZ
tXC86cn8NZmc1ZX4Xn9yXjiWoh8uJ+vIXhSKh0Sgihw9BpL3V69z4CPrX6TQSzNhqyDNcDUe8JRK
aQkkaqvJeel15LlzEWQYFAmHjhmIHN8W/XIDhd9ZTnpJHoloUH1Z16DMUTL6/pg8ty0gR69BSXmO
cwaT8aOhFHhwOFlH90HBYrLKD1HotVkqQIFqCq34LVcauQtVxmXUVjRiiM7ZGH7zCTIv+yXpnc+l
MAIe37mD9K5ICCRURnksUmT+DEZHN64n58DXyfzZVMh+nGLfQF6H4kblCX8VgtmOvPe+QlrrjrCz
DQVm3UR6cWtUiZsiGzaS84JlkHc3hd6YS6KqDPedIk+zu0o0BN8qP3BCoEPIKkzeg4KIrFpCrksh
v89Q2B+VIGGHFBWg5eso39bKGMOJ4Owi56DLKOc365Itzzr6HQdOb9OZ9I69yBg0hiJrfo8qycV7
uclMFJEQ3kNtItM105ueOYmkCddxZWmmi9tPA/e4XAgwMjWserwmW15bk5/V4H5pYCyM56LVen3q
/9J4TUtzuF5YxYar6jBIb+1V8jIFFTJEbSUZA0dycNj+sj2kwUTZ3qVsvbCSLDv5WE5hofqZSDzZ
Hk8e5erQcuCfgrZ2m64gDXpobTqo9iYvN/yE4uBuZOdUihEgIKTrynA4TZysxMPbk/fXK1WZVx2h
4KJJFNv+EZzuIcdZfTizYrs+gdM6KGfY3020BukA4owRqULh1om2eewQaVKhwElUdwwyzlI4Ud9R
Uh4MlJmvytZQ+ChE+n1SX7Qv+ZKYxU4sKFL9PK1yhV1JZspmkUEe66/zrdZxyXN8KQjfvBaJ407h
mqYSJxFw1pllCRXgumrSUXVOVJjj/BGkt+3E91l7v6DQsofIOvwtIKK9CpL8rnyukYIDo7E+KWqq
yHXrDJUpwVoKzLmaYls2o2qQAaiO2L83sPF66w5wdE6qVJulkQ44cBeZg8eR6/qHkQgVFF4xl6Jf
rUfbKLWZZAsumTxoQzIRvPe+So7SART7ZDUbL8mEDFQyQ7PST09muHW8lozz+5Jr1J0Kxw/tpHgZ
HJpTYAdHa4ouo2rQHguLKWfeJoXr9dVGUHKAh/77LmJSwd0mk3kZ30Xr0fILyeg3QrXOj/8CQN0M
oOzOgrScfGQCWlz7UsWm2AFa88ajAqxjB9EKOwGoXyK9U29yAMe8s9aRs88wYNie0yATFgJeSe5x
D6AdX8t6mVdNIe/9Kxj/RDDQtCNP0U/UHCPr4G60tA7kmfo05S78EhjVUxX0kW9RETXZM0iwMtnq
E76RBKPu0THkv38Ixb7+EHDSFsTjWsWcG1HROJXpMDBK/Mhtw1HmzDm6Hzih26VlpfDdEi2ZwBTm
oOo8U5c2MNI9aRHF7hkIh9aqFpKNaNkqUI3GRcPJHHt/umFILnPU7cDHZ0nrWNoIcajXMiQhKtvN
2Or++WwyR9+Vgd5XqGSsP4I0mjiCE1mE6sgv7ZL/0NZ1Xx4q8yRZB3YQnTsEidCp0TrJUEFaCj8k
WGH2SYBzknbL0gWISQwR/hOqZ2bZOqSC5tCbwQqH81t1CyZQeO0i9ch2PQDGo3jeYNzJIuByNNAQ
aM/4J1QibXufAo9crfTCZQ77BVo08CMcbL5NgvwYfS4l3+Mfq+AgEOHlj1LohWlJRmbJeUkGOpuK
lPfgXlF9lP/rAmvMW7KPcv9cSfl/jZA5cqKKY+3RplXLNC9oIAECs0EcAJZwnpCBAYW0Du9hVmb0
vwJ41Nsu4WwGsQgPb85LrlPlvm4xhV9aShHQaBFUrMU4exBsEtlVpsx4EBnHOZeQo0tfrrzgHyZT
eOXbFFn3grqlcx+le6i2cadKuyQhaldKOTMxA4L4xAHgtXf0pLonZ1Bk04rU0IlqaMHKhpPYGDCS
fM9tR4DuVmRAeljaa+sjq7apJM/8iWRFaEfi8DfKcX1H8CAmS9Yzfh7lzP2AcmasppwH13DLyjxD
nOKEaBjjcCum5gxzq58GgBMHXUgl5eXJtUHayq6CQAwcxV0Uu0L1xLZtB9FALmz/0J410EYl7Y/H
mxwaRUAOiDfySMAD9uqnKL5rHzm6mWT0vBAFbeOiiGXbzZmdSsbmvW85hlYTBGstBedfR/4pfck/
tR/PiSwSPmaSJVoSIEMGSBnNz/MVcHb5Fm7lXi+BGOQfg+1CteJxurMCYIoEFSDKRwy9iRFQ73Ie
aSVdVTYd3EEaU81sWpxg7QUcweK79gPj6s8y5baD78BoICoxtzXhANWyKG3FYoAOa4iJVRGx58J6
o0i2GzroZZw3HM73UfSzNVQ7ZRRF3luB6vwKXSfAySDnzHjlQRWgRhQ0Mvf2OtIL8rl9JP3bvb/q
VLs+BRt5naJfrGUOLxlZsw6VgAmsEP4ain2xHrIGgHXNIPPisajMEp5dJK5F//kmyElhiog0J9PX
mmI7NzHmSD1y5n8MLNkL1tVbVcL7yzBYHwbb7J7ZAUJVN2c4xgbzykn8thM46QYmBRc9mK6LO7fh
iqYJdslzHleylxyd8hnTrQpBrsGDuG1aB7YhWHUcxBa1OKv8ALlueIhc19yTzr5XPIre/BMKv/Uk
AB+GF52l+qfIsiWBukfeXqCWk/LhcCTPWbK9L50OzNvLq5SmGVe9ACGYMgDh5Q/bZMaVDI4cVsMr
f6smd60ZOa3aU/TTNRRe82Tybde4mZS3fAd+zkglqVy0Ml40r5+clWJb/sYVLklR3tL95L1rMblv
mUKuMdPt1orBusG2IxuSUNiWJ+bgkmkUfmNevYfmMzzo7bspwzNN4E1klA4DLcwZgZnDKL5nS/Kj
0BuPUeTdxQDqLtkPvLZz9eLOwLOFFH5lZnIlZGGgDMy5hqtSyytsXkfDgD3FFFo8nULPT2F2yM4p
6QX53VL3yS22ZJiW1Wz3lbBgVeyjutlXMekgBMw5YgJ5bn+GHL0vtjf9aPmxWJMByrhJkP1YOjD2
6Xo4VDEmF7DHHD2Z4vu/pMjaJfbwZlGLrlgURnenePleqnvkCrS6gVz2sd2fwxFolU5n44De2BGC
6SatqCMFV86hyOZ30ZqLydq/FRhwgpmZfGbzgBFX2/EiBHvVsxT7BlR75J2orBISx8vJedE1PFTq
RcBK2Y5j4ca33/UrEzNODJAQmHEZb9EdHc+GnGIyL78Vsovhy23JNttYEiUDxHQ5MYThpwwSMzd/
FapoLjkvHgcndiHP5Be4fcR2fc7HDqnBVefy5004G63OiOQ0nZYhcIYu926gxdGt76P/GxiIO3IW
N1huSmIhNwH2Po111BKbX5HmXEdJKYnyfRQ/uB1OLCBdDoDxU+Rpdju2RwMhD5Dt3SBjBlif1rUn
wHs3BZ+7g7HJKguCGG0k7/RXydGhB+neXKb0CXtljoqwPWpIe6X/EkxUVrgMKmh+/OsPgHN/J1ET
p9hW4N3w8fi5kY89klt46SuZUFJOMkB25OROTcgjnfL9AC1PKqJy/VFZQ4GHLyf3hKfUwFlVjgfV
qpklESAoZh2uJaOD297s5qsznUMVCIAvA04BnGUApIjq8oyDreVHi3Kh/eTaeyywHassCqwpy9wK
pbN1J2/m2YmnYiCSxpIzrMQ51hFTfRkIER1Jz2A8WwZHyAO+IgdFNyyjgDyEq6vmszHNYfKGQOog
qvDIgqIku44fPo4EDJ9ir8ZbD83EC8gQ2/IeRTe9h7bqVJUoKTcvVv18gCwrN1GFhma6mTsa5w0j
9x2zKfaPVcAaTzozK3XwMBd++QH4PM7sxDngp3aGpirQ0TWH3OPn2ijrJc+k5yn02mNcp8mNb9Yn
jKi0UIRcoyfysMnxuWkWV551/GCTzCdzGxMcNOeooZh5blDybpwNeX7IO5R+ACjqrRb52AKBPbyD
mZchmS0P0xYcWotWOITMITcqebctoNDLD+GzMJ86Z2aN9Tb19QdU2CvqgsCpm0nvcYF93JKjaZF3
njnhHD2l4Ie/1vj/u6L/eouM9S8+PffKc3vPo6Luqv8Zp/tHHloKd5KHVcgQOcRq2VHTjCkXCXOr
TDXlxPG5OD01JZ7Fo9+TPI1JC3cfcZrypP+c+P7+r2jD/OlLNVnYE7rQ9d5W+b3C0Vjk9DX94frv
    XJrmMR1m2ZGTu/5UTqv+I8AAG7wBnxgYpRYAAAAASUVORK5CYII="
         alt="Fooda">
</h1>

<h2>    
    @menu.name
</h2>
@foreach(MenuCategory cats in Enum.GetValues(typeof(MenuCategory)))
{

    <table>
        <tr>
            <th>
                @cats
            </th>
            <th>
                Description
            </th>
            @if (showPrices())
            {
                <th>
                    Sell Price
                </th>
            }
        </tr>
        @foreach (var item in Model.Items)
        {
            if (item.Category.Equals(cats))
            {
                <tr>
                    <td> @Html.DisplayFor(modelItem => item.Name)</td>
                    <td> @Html.DisplayFor(modelItem => item.Description)</td>
                    @if (showPrices())
                    {
                    <td> @Html.DisplayFor(modelItem => item.SellPrice)</td>
                    }
                </tr>
            }
        }
    
    </table>
}