.modal-wrapper
	.modal-header
		Looks like we aren't ready to process a New Transaction!
	.modal-body
		%div
			It looks like the payment information isn't setup for this account.  Please check the 
			%ul
				%li payment method 
				%li payment user.
			Thank you
	.modal-footer
		%button.btn{"data-dismiss"=>"modal"} Okay