.row
  .span8.offset2
    .pull-right.admin-email-buttons
      %a.btn.btn-small{ :href => 'admin/mailer/event_scheduler_job' }
        Force Scheduler Run
    %h4 Event Scheduler
    %hr

    %br
    %br

    .hero-unit.center
      Event scheduled list coming soon.
