- contact ||= BuildingDocument.new
= simple_form_for [@building, contact] do |f|

  .modal-header
    %button.close{:type=>"button","data-dismiss"=>"modal"}
      &times;

    %h3 Building Document
  .modal-body
    .in-between
    = f.label :document, "Document:"
    = f.file_field :document
  .modal-footer
    = f.submit(:class => "btn btn-primary")