#account-details {
  h2 {
    text-align: center;
  }

  h4 {
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 0px 0px;   
  }

  .account-id {
    font-size: 14px;
  }

  hr {
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 0px 0px;
  }

  .center {
    text-align: center;
  }

} 
