%p
  Hello #{@resource.email}!
%p Someone has requested a link to change your password. You can do this through the link below.
- reset_url = headers[:catering] ? main_app.catering_recover_password_url(:reset_password_token => @resource.reset_password_token, subdomain: Rails.configuration.catering_subdomain, :forgot => true) : edit_user_password_url(:reset_password_token => @resource.reset_password_token)
%p= link_to 'Change my password', reset_url
%p If you didn't request this, please ignore this email.
%p Your password won't change until you access the link above and create a new one.
