%tr{:class => "infinite_item"}
	%td= select_order.id
	%td= select_order.user.name
	%td Email
	%td Vendor(s)
	%td Date
	%td Time
	%td "# of Items Ordered"
	%td # of Customized Orders
	%td Payment Method
	%td Sub Total
	%td Subsidy Amount
	%td Additional Charges
	%td Payment Amount
	%td Payment Status