.modal-wrapper
  = form_for DeliveryGroup.new, url: admin_delivery_groups_path, remote: false do |f|
    .modal-header
      %button.close{:type=>"button","data-dismiss"=>"modal"}
        &times;

      %h3 New Delivery Group

    .modal-body.auto_size_modal_body
      #delivery-group
        #name-pane
          %label Name
          = f.text_field :name, :label => "Name"

        #available-accounts-pane
          %strong Accounts
          %ul#available-accounts
            - current_user.accounts.each do |a|
              %li
                %strong= a.name
                %ul.account
                  - a.locations.each do |l|
                    %li{data: {id: l.id, account: a.name, location: l.name}}= l.name

        #selected-accounts-pane
          %strong Selected Accounts
          %table#selected-accounts.table.table-striped
            %thead
              %tr
                %th Location
                %th Priority
                %th &nbsp;

            %tbody

    .modal-footer
      = f.submit "Save Delivery Group", id: "save-delivery-group", :class => "btn btn-primary"
